.window{
    background-color: #45414B;
}
.coucou{
    color: white;
}
.button{
    background: none;
    color: inherit;
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 100px;
    padding: 8px;
    outline: inherit;
}

.validate-button{
    border: 2px solid white;
    border-radius: 16px;
    font-size: 14px;
    color: white;
    box-shadow: none;
    background: transparent;
}
.validate-button:hover{
    border-color: transparent;
    color: #45414B;
    background: #FFFFFF;
 }


.button:hover {
    border-color: white;
}
.burger_button{
    margin-right: 8px;
    background: #45414B;
    color: white;
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 100px;
    outline: inherit;}

.burger_button:hover {
    border-color: transparent;
}
.radio_button{
    background: #45414B;
    border-color: transparent;
    color: white;
    box-shadow: none;
    outline: inherit;
}
.radio_button:hover{

}

.pause_button{
    background: none;
    color: inherit;
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 100px;
    padding: 8px;
    outline: inherit;
}

#volume{
    background-color: #FFACAC;
    border-radius: 20px;
}


progress,trough{
    border-radius: 15px;
}
trough{
    min-height: 4px;
    background: #FFFFFF;
}
progress{
    min-height: 6px;
    background: #FFACAC;
    border: none;
}
#radio-title{
    color: white;
}
.song-infos{
    color: white;

}

#song-genre{
    opacity: 0.8;
}

.timer{
    font-style: normal;
    font-weight: 400;
    font-size: 9.225px;
    color: #FFFFFF;
}

.header-bar{;
    background: #FFFFFF;
}